/**
 * Place your custom CSS styles here.
 **/

.trello-wide-boy .list {
  flex-basis: 470px !important;
}

.trello-wide-boy .list .list-card {
  max-width: 470px !important;
}

.trello-wide-boy .list .list-card .list-card-title {
  font-size: 40px;
  line-height: 46px;
}
