/**
 * Place your custom CSS styles here.
 **/

.list .list-card .list-card-title {
  -webkit-transition: font-size 0.8s, line-height 0.8s;
  transition: font-size 0.8s, line-height 0.8s;
}

.list {
  -webkit-transition: flex-basis 0.8s;
  transition: flex-basis 0.8s;
}

.list .list-card {
  -webkit-transition: max-width 0.8s;
  transition: max-width 0.8s;
  transition-timing-function: cubic-bezier(.38,.04,.53,.93)
}

.trello-wide-boy .list {
  flex-basis: 470px !important;
}

.trello-wide-boy .list .list-card {
  max-width: 470px !important;
}

.trello-wide-boy .list .list-card .list-card-title {
  font-size: 28px;
  line-height: 36px;
}

.trello-wide-boy .list .list-card .member, .trello-wide-boy .list .list-card img.member-avatar {
  width: 60px;
  height: 60px;
}
